/showcase/4.10/layouts/mobilelayouts/.actionScriptProperties
/showcase/4.10/layouts/mobilelayouts/.flexProperties
/showcase/4.10/layouts/mobilelayouts/.fxpProperties
/showcase/4.10/layouts/mobilelayouts/.project
/showcase/4.10/layouts/mobilelayouts/.settings/*.prefs
bin-debug
