/* CSS file */
@namespace "library://ns.adobe.com/flex/spark";
@namespace supportClasses "spark.components.supportClasses.*";
@namespace ns "http://flex.apache.org/experimental/ns";

global
{
	fontFamily: RobotoRegular;
	fontSize: 24;
	color: #000000;
}


TextArea
{
	skinClass: ClassReference("spark.skins.android4.TextAreaSkin");
	contentBackgroundAlpha: 0;
	contentBackgroundBorder: "rectangle";
	contentBackgroundColor: #DEDEDD;
	focusColor: #4e4e4e;
	borderColor: #4e4e4e;
	selectionHighlighting: "never";
	focusEnabled:"false";
	focusThickness: 0;
}

ns|MobileGrid
{
	skinClass: ClassReference('spark.skins.android4.MobileGridSkin');
	color: white;
	selection-color: #33B5E5; /* blue  */
	
}

supportClasses|MobileGridHeader
{	
	textShadowAlpha: 0;
	color: #000000;
	skinClass: ClassReference('spark.skins.android4.MobileGridHeaderButtonBarSkin');
	fontWeight: bold;
}

supportClasses|MobileGridRowRenderer
{
	verticalAlign: "middle";
	downColor: #e0e0e0;
}


@media (application-dpi: 120)
{
	global
	{
		fontSize: 12;
	}
	
	supportClasses|MobileGridHeader
	{
		fontSize: 10;
	}
	
	supportClasses|MobileGridRowRenderer
	{
		paddingTop: 1;
		paddingLeft: 7;
		paddingRight: 7;
		paddingBottom: 0;
	}
}

@media (application-dpi: 160)
{
	global
	{
		fontSize: 16;	
	}
	
	supportClasses|MobileGridHeader
	{
		fontSize: 18;
	}
	
	supportClasses|MobileGridRowRenderer
	{
		paddingTop: 1;
		paddingLeft: 10;
		paddingRight: 10;
		paddingBottom: 0;
	}
}

@media (application-dpi: 240)
{
	global
	{
		fontSize: 20;
	}
	
	supportClasses|MobileGridHeader
	{
		fontSize: 20;
	}
	
	supportClasses|MobileGridRowRenderer
	{
		paddingTop: 2;
		paddingLeft: 14;
		paddingRight: 14;
		paddingBottom: 0;
	}

}

@media (application-dpi: 320)
{
	global
	{
		fontSize: 32;
	}
	
	supportClasses|MobileGridHeader
	{
		fontSize: 28;
	}
	
	supportClasses|MobileGridRowRenderer
	{
		paddingTop: 2;
		paddingLeft: 20;
		paddingRight: 20;
		paddingBottom: 0;
	}
}

@media (application-dpi: 480)
{
	global
	{
		fontSize: 48;
		
	}
	
	supportClasses|MobileGridHeader
	{
		fontSize: 40;
	}
	
	supportClasses|MobileGridRowRenderer
	{
		paddingTop: 4;
		paddingLeft: 28;
		paddingRight: 28;
		paddingBottom: 0;
	}

}

@media (application-dpi: 640)
{
	global
	{
		fontSize: 64;
	}
	
	supportClasses|MobileGridHeader
	{
		fontSize: 56;
	}
	
	supportClasses|MobileGridRowRenderer
	{
		paddingTop: 4;
		paddingLeft: 40;
		paddingRight: 40;
		paddingBottom: 0;
	}
	
}

/* Register fonts as styleNames for further use */
.RobotoEmbedded
{
	fontFamily: Roboto;
	font-lookup: embeddedCFF;
}

.RobotoEmbeddedBold
{
	fontFamily: Roboto;
	fontWeight: bold;
	font-lookup: embeddedCFF;
}
